<menus>
    <menu id="MainMenu">
        <menu-item id="home" label="@Strings.Home"/>
        <menu-item id="target_zikr" label="@Strings.TargetZikr"/>
        <menu-item id="calc_method" label="@Strings.CalcMethod"/>
        <menu-item id="asr_madhhab" label="@Strings.AsrMadhhab"/>
        <menu-item id="time_format" label="@Strings.TimeFormat"/>
        <menu-item id="vibration_toggle" label="@Strings.Vibration"/>
        <menu-item id="reminders_toggle" label="@Strings.Reminders"/>
        <menu-item id="reminder_offset" label="@Strings.ReminderOffset"/>
        <menu-item id="women_mode" label="@Strings.WomenMode"/>
        <menu-item id="period_pause" label="@Strings.PeriodPause"/>
        <menu-item id="reset_prayers" label="@Strings.ResetPrayers"/>
        <menu-item id="reset_zikr" label="@Strings.ResetZikr"/>
    </menu>
</menus>
